<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Advocate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Advocate.Properties.Settings>
            <setting name="RePakPath" serializeAs="String">
                <value>&lt;select RePak.exe path&gt;</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>&lt;select output path&gt;</value>
            </setting>
            <setting name="ConversionDescription" serializeAs="String">
                <value>{TYPES} skin made by {AUTHOR}, converted using Advocate</value>
            </setting>
            <setting name="TexconvPath" serializeAs="String">
                <value>&lt;select texconv.exe path&gt;</value>
            </setting>
            <setting name="NoseArtDescription" serializeAs="String">
                <value>{CHASSIS} nose art made by {AUTHOR}, using Advocate. Replaces {NOSEART}</value>
            </setting>
        </Advocate.Properties.Settings>
    </userSettings>
</configuration>